body {
    background-color: #F1001C !important;
}

.fw-semibold {
    color: rgb(209, 32, 32);
}

.d-flex{
    background-color: #F1001C !important;
}

.py-4 {
    background-color: #5B0C13 !important;
}

.fw-light{
    color: #f1b4b9;
}